@model NewDentalClinic.Models.Identity.LoginModel

@{
    Layout = null;
}

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
</head>
<body>

    <center>
        <p>
        <p>
        <p>
            <h2>Sign in</h2>
        <p>
        <p>
            <img src="~/Content/images/Login.jpg">
        <p>
        <p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                <div>
                    @Html.ValidationSummary()
                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <p>
                <label>E-mail</label><br />
                @Html.EditorFor(x => x.Email)
            </p>
            <p>
                <label>Password</label><br />
                @Html.EditorFor(x => x.Password)
            </p>
            <p><button type="submit">Sign in</button></p>
            </div>


        }
        </center>
</body>
</html>
